<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <!--https://github.com/settings/tokens-->
  <appSettings>
    <add key="githubLogin" value="nikodemrafalski"/>
    <add key="githubToken" value="bfde752628bfdd00a552d097e4277f9da29356a9"/>
  </appSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>

</configuration>
